{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock title %}</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href= "{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href= "{% static 'css/style.css' %}">
	<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    </head>
    <body>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<br>
			<nav  class="navbar navbar-default ">
				<div class="container-fluid ">
					<div class="navbar-header">
						<button class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar">
							<span class="glyphicon glyphicon-align-justify"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="my-navbar">
						<ul class="nav navbar-nav">
							<li><a href="{% url 'index' %}">Home</a></li>
							<li class="ts  "><a href="/accounts/login/">Login <span class="glyphicon glyphicon-log-in"></span> </a></li>
							<li class="ts" ><a  href="/accounts/signup/">Register</a></li>
							<li class="ts active" ><a  href="#">List of Property<span class="glyphicon glyphicon-plus-sign"></span></a></li>
							<!--<li class="ts" ><a  href="#">Register</a></li>
							<li class="ts" ><a  href="#">Register</a></li>-->

						</ul>
						<ul class="nav navbar-nav navbar-right">

							

							<li class="ts" ><a href="#"><span class="glyphicon " ></span></a></li>

							<!--<li class="ts" > <a href="#">Log Out<span class="glyphicon glyphicon-log-out"></span>
					        </a></li>-->
						</ul>
					</div>

				</div>
			</nav>

		</div>
	</div>



{#        <div class="row">#}
{#            <div class="col-sm-12">#}
{#                <ul class="nav nav-tabs">#}
{#                    <li class="tab-list Hts active ">#}
{#                        <a data-toggle="tab" href="#">Home</a>#}
{##}
{#                    </li>#}
{#                    <li class="tab-list Hts">#}
{#                        <a data-toggle="tab" href="#">About</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}



    <!-- -------------------------------------------------------------- -->


        {% block search %} {% endblock search %}
        {% block content %} {% endblock content %}

    <!--------------------- Footer-------------------------------- -->

<!--{#    <footer class="footer">#}
{#		<div class="container">#}
{#			<p class="text-muted"> &copy; 2016 All Rights Reserved | Designed by Team Django </p>#}
{#		</div>#}
{#	</footer>#}-->
    <br>
    <br>



	</div>


    </body>
</html>