{% extends "layoutINside.html" %}
{% load staticfiles %}
{% block title %} Notification {% endblock %}

{% block content %}

    <br><br><br>

    <div class="row" >
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="tab-list active">
                    <a data-toggle="tab" href="#Notifiers">My Notifiers</a>
                </li>
                <li class="tab-list">
                    <a data-toggle="tab" href="#Property">Property Notifier </a>
                </li>

            </ul>

            <div class="tab-content">
                <div id="Notifiers" class="tab-pane active">
                     <div class="page-header ">
        <h2> My Notifiers </h2>
    </div>
        {% if noty %}
         <table  class="table table-hover">
            <tr class="info">
                <th>Location </th>
                <th> Poperty Type</th>
                <th>Section </th>
                <th>Min Price</th>
                <th>Max Price</th>
                <th>Action</th>

            </tr>
                {% for n in noty %}
                     <tr>
                        <td>{{ n.location }} </td>
                        <td>{{ n.property_type }} </td>
                        <td>{{ n.section }} </td>
                        <td>{{ n.min_price }} </td>
                        <td>{{ n.max_price }} </td>
                        <td><a href="/delFormNoty/{{ n.id }}" class="btn btn-danger" role="button">Remove</a></td>
                    </tr>
                {% endfor %}
        </table>
    {% else %}
    <p> no notification</p>
    {% endif %}

                </div>
                <div id="Property" class="tab-pane">
                      <div class="page-header">
                        <h2>Property Notifier</h2>
                      </div>

                    <div>
                         <form action="" class="form-inline">
        <div class="form-group">

            {{ form }}

            <select name="min_price" id="min_price" class="form-control margin_10">
                <option value>(Min Price)</option>
                <option class="min_option min_100" label="100,000" value="100000">100,000</option>
                <option class="min_option min_250" label="250,000" value="250000">250,000</option>
                <option class="min_option min_500" label="500,000" value="500000">500,000</option>
                <option class="min_option min_750" label="750,000" value="750000">750,000</option>
                <option class="min_option min_1000" label="1,000,000" value="1000000">1,000,000</option>
                <option class="min_option min_2000" label="2,000,000" value="2000000">2,000,000</option>
                <option class="min_option min_5000" label="5,000,000" value="5000000">5,000,000</option>
            </select>

            <select name="max_price" id="max_price" class="form-control margin_10">
                <option value>(Max Price)</option>
                <option class="max_option max_100" label="100,000" value="100000">100,000</option>
                <option class="max_option max_250" label="250,000" value="250000">250,000</option>
                <option class="max_option max_500" label="500,000" value="500000">500,000</option>
                <option class="max_option max_750" label="750,000" value="750000">750,000</option>
                <option class="max_option max_1000" label="1,000,000" value="1000000">1,000,000</option>
                <option class="max_option max_2000" label="2,000,000" value="2000000<">2,000,000</option>
                <option class="max_option max_5000" label="5,000,000" value="5000000">5,000,000</option>
            </select><br>

            <input type="submit" value="Notification" class="form-control btn-primary margin_10 submit_btn">

        </div>
    </form>



                    </div>




                </div>
            </div>
        </div>
    </div>

{% endblock content %}
