{% extends "layoutINside.html" %}

{% block title %} Notification {% endblock %}

{% block content %}

    <br><br><br>

    <div class="row" >
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="tab-list active">
                    <a data-toggle="tab" href="#Notifiers">My Notifiers</a>
                </li>
                <li class="tab-list">
                    <a data-toggle="tab" href="#Property">Property Notifier </a>
                </li>

            </ul>

            <div class="tab-content">
                <div id="Notifiers" class="tab-pane active">
                     <div class="page-header ">
        <h2> My Notifiers </h2>
    </div>
        {% if noty %}
         <table  class="table table-hover">
            <tr class="info">
                <th>Location </th>
                <th> Poperty Type</th>
                <th>Section </th>
                <th>Min Price</th>
                <th>Max Price</th>
                <th>Action</th>

            </tr>
                {% for n in noty %}
                     <tr>
                        <td>{{ n.location }} </td>
                        <td>{{ n.property_type }} </td>
                        <td>{{ n.section }} </td>
                        <td>{{ n.min_price }} </td>
                        <td>{{ n.max_price }} </td>
                        <td><a href="/delFormNoty/{{ n.id }}" class="btn btn-danger" role="button">Remove</a></td>
                    </tr>
                {% endfor %}
        </table>
    {% else %}
    <p> no notification</p>
    {% endif %}

                </div>
                <div id="Property" class="tab-pane">
                      <div class="page-header">
                        <h2>Property Notifier</h2>
                      </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
