{% extends "layoutINside.html" %}
{% load staticfiles %}

{% block title %} {{ property.title }} {% endblock %}

{% block content %}

    <h1>{{ property.title }}</h1>
    <h4>Price: {{ property.price }}</h4>
    <p>Announcement number: {{ property.id }}</p>
    <p>Description: {{ property.description }}
    <p>Size: {{ property.size }} M</p>
    <p>Services: {{ property.services }}</p>
    <p>Facilities: {{ property.facilities }}</p>
    <p>Payment method: {{ property.payment_method }}</p>
    <img src="{{ MEDIA_URL }}/photos/{{ property.picture }}" alt="">



{% endblock content %}
